$color-ligth: #ffffff;
$primary-color: #19A7CE;
$secondary-color: #000000;
$tertiary-color: #146C94;

//font-color
$font-primary: #f4f4f4;
$font-hover:#00ffff;


*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body{
  box-sizing: border-box;
  overflow-x: hidden !important;
  backface-visibility: hidden;
}

h2{
  font-size: 2.6rem;
  font-family:monospace;
  font-weight: 500;
}
a .icon{
  color: $color-ligth;
  font-size: 2.5rem;
}

.navbar{
  display: flex;
  background-color: $tertiary-color;
  align-items: center;
  position: relative;
  z-index: 9999;
  
  padding: 1rem 5rem;
  
  &__submenu{
    opacity: 0;
    margin-top: 1.5rem;
    list-style: none;
    visibility: hidden;
    z-index: 9999;
    position: absolute;
    top: 0;
    border-bottom: .1rem solid $font-hover;
    width: 20rem;
    left: 0;
    transform: translate(-50%);
     background-color: $tertiary-color;
     padding: 1rem;
     border-radius: .5rem;
     transition: all 0.3s ease-in;
  }
  &__iconSm{
    color: $font-hover;
    margin-right: 1rem;
    margin-bottom: -.3rem;
 
  }
 
 
  &__header{
    z-index: 999;
    
  }
  &__img{
      width: 4.5rem;
      animation: rotation infinite 15s ease-in;
   
    }
    &__list{
      display: flex;
      gap: 1rem;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
    }
    
    &__item{
        list-style: none;
        display: inline;
        position: relative;
     
       
        &:hover  .navbar__submenu {
          visibility: visible;
          opacity: 1;
          transition-delay: 0.3s;
          top: 100%;
        }
       
        a{
          color: $font-primary;
          font-weight: 600;
          font-size: 1.2rem;
          text-decoration: none;
          text-transform: uppercase;
          transition: all 0.45s ease-in;
          &:hover{
            color: $font-hover;
          }
        }
      }


  &__burger{
    display: none;
    width: 2.5rem;
    color: $primary-color;
    height: auto;
    margin-right: 1rem;
    transition: all 3s ease-in;
    padding-right: 7.5rem;
  }

   
}

 .lt2{
  
  height: 100%;
 
  position: relative;
}
.lt3{
  right: 0;
  
  height: 9vh;
  margin-right: -14rem;
  position: absolute;
 
}
.lt4{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $tertiary-color;
}

.container{
  // height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; 
  
  &__pages{
    background-image: url('./components/imgs/wallpaper.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    gap: 2rem;
    width: 100%;
    z-index: 99;
  }
  
  &__page1, &__page2, &__page3{
    width: 100%;
    z-index: 99;
  }
 
  &__page1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 99;
  }
  &__page2{
    width: 100%;
    z-index: 99;
  }
  &__page3{
    z-index: 99;
    ul{
      margin: 0;
      padding: 0;
    li{
      list-style: none;
      text-align: end;
      font-size: 4rem;
      color: $color-ligth;
      font-weight: 800;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      a{
        font-size: 2rem;
        color: $font-hover;
        text-decoration: none;
      }
    }
  }
  }

  &__text{
    width: 50rem;
    background-color: $color-ligth;
    justify-content: start;
  
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: .5rem .5rem .5rem .1rem $primary-color;
    border-radius: 3px;
  }



  &__img{
    width: 50rem;
    border-radius: 3px;  
    z-index: 999; 
    position: relative; 
  }

  p{
    width: 100%;
    font-size: 1.6rem;
    text-align: justify;
    font-family: sans-serif;
    font-weight: 400;
  }
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: $color-ligth;
  background-color: $tertiary-color;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: .2rem;
  text-transform: capitalize;
  padding: .5rem;
   clear: both; 
   &__text{
    
   }
   &__contact{
    .icon{
      font-size: 2rem;
      margin-left: .5rem;
    }
   }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1029px) {
 
  .navbar__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 80vh;
    width: 100%;
    background-color: $tertiary-color;
    text-align: center;
    top: 0;
    left: -100%;
    transform: translate(-50% -50%);
    transition: all 0.3s ease-in;
    
  }
  .active{
    left: 0;
    transition: all 0.3s ease-in;
    visibility:visible;
  }
  .navbar__burger{
      display: block;
      position: absolute;
      right: 0;
      cursor: pointer;
      transition: all 0.6s ease-in;
    }
    .container__pages{
      flex-direction: row;
      width: 100%;
      padding: 2.5rem;
      p{
        width: 100%;
        font-size: 1.2rem;
        text-align: justify;
        font-family: sans-serif;
        font-weight: 200;
      }
    }
  .container__img{
    width:100%;
   
  }
  .container{
    width: auto;
    height: 100vh;
    &__h1{
     
     width: 100%;
     height: 100%;
     
    }
    
    &__vids{
      width: 100%; 
    }
    &__vid{
      width: 100%;

    }
    &__text{
      width: 100%;
     
  }
 
  }
  .lt2{
    width: 40%;
    margin-top: -5rem;
    position: absolute;
   top: 0;
   z-index: 0;
  
  }
  .lt4{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $tertiary-color;
    z-index: 0;
  }
  .lt5{
    position: absolute;
    margin-top: -5rem;
    z-index: 0;
  }
  
}


@media only screen and (max-width: 600px) {
 
  .navbar{
    width: 100%;
    &__iconSm{
      color: $font-hover;
      margin-right: 1rem;
      margin-bottom: -.3rem;
      
    }
    padding: 1rem 3rem;
    &__submenu{
      margin: 0;
      z-index: 9999;
      
      right: 25%;
      left: 75%;
      visibility: hidden;
      top: 0;
      background-color:#00000000;
      border: 0;
      text-align: justify;
    }
    &__item{
      list-style: none;
      display: block;
      position: relative;
      transition: all 0.6s ease-in;
      transition-delay: 0.6s;
      
      &:hover  .navbar__submenu {
       display: block;
      top: 15%;
      }
    }
    &__list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      height: 80vh;
      width: 100%;
     
      background-color: $tertiary-color;
      text-align: center;
      top: 0;
      left: -100%;
      transform: translate(-50% -50%);
      transition: all 0.3s ease-in;
     
    }
    &__item{
      width: 100%;
   
     
    }
   
    }
   
  .active{
    left: 0;
    transition: all 0.3s ease-in;
    visibility:visible;
  }
  .navbar__burger{
      display: block;
      position: absolute;
      right: 0;
      cursor: pointer;
      transition: all 0.6s ease-in;
    }
    .container__pages{
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 2.5rem;
      p{
        width: 100%;
        font-size: 1.2rem;
        text-align: justify;
        font-family: sans-serif;
        font-weight: 200;
      }
    }
  .container__img{
    width:100%;
   
  }
  .container{
    width: auto;
    height: 100vh;
    
    &__text{
      width: 100%;
  }
  &__vids{
    width: 100%; 
  }
  &__vid{
    width: 100%;
    height: 100%;

  }
 
  }
  .lt2{
    width: 40%;
    margin-top: -5rem;
    position: absolute;
   top: 0;
   z-index: 0;
  
  }
  .lt4{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $tertiary-color;
    z-index: 0;
  }
  .lt5{
    position: absolute;
    margin-top: -5rem;
    z-index: 0;
  }
  
}
