$color-ligth: #ffffff;
$primary-color: #19A7CE;
$secondary-color: #000000;
$tertiary-color: #146C94;

//font-color
$font-primary: #f4f4f4;
$font-hover:#00ffff;


*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body{
  box-sizing: border-box;
  overflow-x: hidden !important;
  backface-visibility: hidden;
}

h2{
  font-size: 2.5rem;
  font-family:monospace;
  font-weight: 500;
}
.navbar{
  display: flex;
  background-color: $tertiary-color;
  align-items: center;
  position: relative;
  transition: all 0.6s ease-in;
  &__header{
    padding: 1rem;
    z-index: 999;
  }
  &__img{
      width: 4.5rem;
      animation: rotation infinite 15s ease-in;
   
    }
    &__list{
      display: flex;
      gap: 1rem;
      width: 100%;
      justify-content: flex-end;
      padding-right: 1rem;
      align-items: center;
    }
    &__item{
        list-style: none;
        display: inline;
        a{
          color: $font-primary;
          display: inline;
          font-weight: 500;
          font-size: 1.5rem;
          text-decoration: none;
          transition: all 0.45s ease-in;
          &:hover{
            color: $font-hover;
          }
        }
      }
      .show{
 
    width: 100%;
  }

  &__burger{
    display: none;
    width: 2.5rem;
    color: $primary-color;
    height: auto;
    margin-right: 1rem;
    transition: all 3s ease-in;
  }

   
}



.container{
  // height: 100vh;
  width: 100%;
  
  
 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; 
  
  &__pages{
    background-image: url('./components/imgs/wallpaper.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    gap: 2rem;
    width: 100%;
  
  }
  
  &__page1, &__page2{
    width: 100%;
   
  }
  &__page1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__page2{
    width: 100%;
  }
  &__h1{
    font-size: 5rem;
    text-align: start;
    font-family: sans-serif;
    color: $font-hover;
    text-shadow: .2rem .2rem .5rem  ;
    a{
      color: $color-ligth;
      font-size: 1.5rem;
      
    }
  }
  &__text{
    width: 50rem;
    background-color: $color-ligth;
    justify-content: start;
  
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: .5rem .5rem .5rem .1rem $primary-color;
    border-radius: 3px;
  }



  &__img{
    width: 50rem;
    border-radius: 3px;    
  }

  p{
    width: 100%;
    font-size: 1.6rem;
    text-align: justify;
    font-family: sans-serif;
    font-weight: 400;
  }
}

.footer{
  text-align: center;
  color: $color-ligth;
  background-color: $tertiary-color;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .3rem;
  text-transform: capitalize;
  padding: .5rem;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .navbar__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 80vh;
    width: 100%;
    background-color: $tertiary-color;
    text-align: center;
    top: 0;
    left: -100%;
    transform: translate(-50% -50%);
    transition: all 0.3s ease-in;
    
  }
  .active{
    left: 0;
    transition: all 0.3s ease-in;
    visibility:visible;
  }
  .navbar__burger{
      display: block;
      position: absolute;
      right: 0;
      cursor: pointer;
      transition: all 0.6s ease-in;
    }
    .container__pages{
      flex-direction: column;
      width: 100%;
      padding: 2.5rem;
      p{
        width: 100%;
        font-size: 1.2rem;
        text-align: justify;
        font-family: sans-serif;
        font-weight: 200;
      }
    }
  .container__img{
    width: 100%;
    right: 0;
  }
  .container{
    width: 100%;
    height: 100vh;
   
  
    background-size: cover;
    background-repeat: no-repeat;
    &__text{
      width: 100%;
  }
 
  }
}
